<div class="jumbotron">
    <h1>Developer Logic Assessment</h1>
    <p class="lead">This is the test page for the Developer Logic Assessment. <br />Please, use the form below to see it working.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@@</span>
                <input type="text" id="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
        </p>
        <p><a class="btn btn-default" id="register-btn">Register</a></p>
        <p><div id="register-msg" class="alert alert-danger hidden" role="alert"></div></p>
    </div>
    <div class="col-md-4">
        <h2>Registered Users</h2>
        <p>The raw password is stored only for testing purposes</p>
        <div class="list-group" id="registered-user"></div>
        <div class="list-group-item hidden" id="registered-user-template">
            <h4 class="list-group-item-heading">Login</h4>
            <p class="list-group-item-text">
                Password
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Verify</h2>
        <p>
            <div class="input-group">
                <input type="text" id="login" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
        </p>
        <p>
            <div class="input-group">
                <input type="password" id="password" class="form-control" aria-describedby="basic-addon1">
            </div>
        </p>
        <p><a class="btn btn-default" id="login-btn">Verify</a></p>
        <p><div id="login-msg" class="alert alert-danger hidden" role="alert"></div></p>
    </div>
</div>
